
.neon-title {
  font-family: "poppins";
  color: white;
  animation: neon 5s infinite;
  font-weight: bolder;
  font-size: 2rem;
}

@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: white 0 0 12px, palevioletred 0 0 24px, purple 0 0 36px;
  }

  40%,
  60% {
    text-shadow: none;
  }
}
